[Unit]
Description=Minecraft Server - %i
After=network.target mariadb.service
Requires=mariadb.service


[Service]
WorkingDirectory=/opt/minecraft/%i

KillSignal=SIGCONT
Sockets=minecraft@%i.socket

User=minecraft
Group=minecraft
UMask=0007

ExecStart=/bin/sh -c "/usr/bin/java -server -Xms512M -Xmx2048M -XX:+UseG1GC -XX:ParallelGCThreads=2 -jar minecraft_server.jar nogui </run/minecraft-%i.control"
ExecStop=/bin/sh -c "echo stop > /run/minecraft-%i.control"

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
