[Unit]
BindsTo=minecraft@%i.service

[Socket]
ListenFIFO=/run/minecraft-%i.control
FileDescriptorName=control
RemoveOnStop=true
SocketMode=0660
SocketUser=minecraft
SocketGroup=minecraft
